#custom-weather,
#custom-record,
#window,
#workspaces,
#clock,
#battery,
#pulseaudio,
#temperature,
#window,
#tray,
#cpu,
#memory,
#disk,
#custom-cava_mviz,
#custom-launch_wofi,
#custom-lock_screen,
#custom-power_btn,
#network,
#bluetooth,
#backlight,
#waybar,
#power-profiles-daemon,
#custom-mpris {
  all: unset;
  border: none;
  border-radius: 0;
  font-family: "Pixelon", "LanaPixel", "Symbols Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
  background: #303643;
  opacity: 0.925;
  padding: 0px 7.5px;
  margin-top: 10px;
}

tooltip {
  all: unset;
  font-weight: bold;
  background: #1e1e2e;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#custom-mpris,
tooltip {
  font-family: "BHN Neue Pixel Grotesk", "LanaPixel", "Symbols Nerd Font";
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#window {
  border-top: 0px;
  border-bottom: 0px;
}

window#waybar.empty #window {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#workspaces button {
  all: unset;
  padding: 1px;
  color: #313244;
  /* margin-right: 5px; */
}

#workspaces button.active,
#workspaces button.visible {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  border-radius: 10px;
}

#workspaces {
  border-top: 0px;
  border-bottom: 0px;
}

#custom-record {
  border-right: solid 1px #495557;
}

#memory {
  color: #e5c07b;
}

#temperature.critical,
#battery.critical:not(.charging) {
  color: #e92d4d;
}

#battery.warning:not(.charging),
#power-profiles-daemon.performance {
  color: #ffcc00;
}

#battery,
#power-profiles-daemon.power-saver {
  color: #34ec23;
}

#bluetooth {
  border-radius: 0px 10px 10px 0px;
  margin-right: 7.5px;
}

#temperature {
  color: #98c379;
}

#battery {
  border-radius: 10px 0px 0px 10px;
  margin-left: 7.5px;
}

#power-profiles-daemon.balanced {
  color: #98c379;
}

#custom-mpris,
#custom-launch_wofi {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 7.5px;
}

#network {
  color: #c678dd;
}

#clock {
  color: #fab387;
  border-radius: 10px;
  margin-left: 7.5px;
  border-right: 0px;
}

#custom-cava_mviz,
#cava,
#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#custom-cava_mviz {
  font-family: "CaskaydiaCove Nerd Font Mono";
}

#pulseaudio.microphone {
  color: #cba6f7;
}

#backlight {
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 7.5px;
}

#custom-power_btn {
  color: #e06c75;
  border-radius: 0 10px 10px 0;
  margin-right: 7.5px;
  border-left: 0px;
}

#custom-weather {
  border-radius: 10px;
  margin-left: 7.5px;
  border-right: 0px;
}

#cpu {
  color: #61afef;
}

#custom-launch_wofi,
#bluetooth {
  color: #1788e4;
}
