@import "colors.css";

#waybar {
  all: unset;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-cava_mviz,
#custom-launch_app,
#custom-mpris,
#custom-power_btn,
#custom-record,
#custom-swaync,
#custom-temperature,
#custom-weather,
#disk,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces {
  all: unset;
  font-family: "Maple Mono NF CN";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
  background: alpha(@background, 0.9);
  opacity: 0.9;
  color: @foreground;
  padding: 0px 7px;
  border: 1px solid @highlight;
  border-left: 0px;
  border-right: 0px;
  margin-top: 5px;
}

tooltip {
  all: unset;
  background: alpha(@background, 0.95);
  opacity: 0.95;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: @highlight;
}

tooltip label {
  all: unset;
  font-family: "Maple Mono NF CN";
  font-size: 11px;
  font-weight: bold;
  color: @foreground;
}

#workspaces {
  border-right: 1px solid @highlight;
}

#workspaces button {
  padding: 1px;
  color: transparent;
}

#workspaces button.active,
#workspaces button.visible {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
  border-radius: 10px;
}

#workspaces button.urgent {
  background: @highlight;
  color: @foreground;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @highlight;
  color: @foreground;
  border-radius: 10px;
}

#clock,
#memory {
  color: #ffa812;
}

#battery.critical:not(.charging),
#custom-temperature.critical {
  color: #e92d4d;
}

#battery.warning:not(.charging),
#custom-temperature.warning {
  color: #ffcc00;
}

#battery {
  color: #34ec23;
}

#custom-temperature {
  color: #98c379;
}

#network {
  color: #c678dd;
}

#custom-cava_mviz,
#pulseaudio {
  color: #89b4fa;
}

#pulseaudio.microphone {
  color: #cba6f7;
}

#custom-power_btn {
  color: #e06c75;
}

#cpu {
  color: #61afef;
}

#bluetooth,
#custom-launch_app {
  color: #1788e4;
}

#battery,
#clock,
#custom-launch_app,
#custom-mpris,
#custom-weather,
#tray {
  margin-left: 3.5px;
}

#backlight,
#bluetooth,
#clock,
#custom-power_btn,
#custom-swaync,
#custom-weather {
  margin-right: 3.5px;
}

#battery,
#custom-launch_app,
#custom-mpris,
#tray {
  border-radius: 10px 0px 0px 10px;
}

#backlight,
#bluetooth,
#custom-power_btn,
#custom-swaync {
  border-radius: 0px 10px 10px 0px;
}

#clock,
#custom-weather {
  border-radius: 10px;
}

#battery,
#clock,
#custom-launch_app,
#custom-mpris,
#custom-swaync,
#custom-weather,
#tray {
  border-left: 1px;
}

#backlight,
#bluetooth,
#clock,
#custom-power_btn,
#custom-swaync,
#custom-weather {
  border-right: 1px;
}
