[Unit]
Description=Update packages database on boot
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Sy chaotic-keyring --noconfirm

[Install]
WantedBy=network-online.target
