* {
  --bg: {{ color1 }};
  --fg: {{ color7 }};
  --border: {{ color8 }};
  --highlight: {{ color0 | saturate(0.2) }};
  --highlight-text: {{ cursor }};
}

window {
  background-image: url("{{ wallpaper }}");
}
